<ion-view view-title="About">
  <ion-content padding="true">


  <div align="center"><img src="http://imageshack.com/a/img923/5400/uHZH4V.png" width="250" height="250" /></div>
  <div align="center"><p>Dimulai sejak Desember 2016 hingga sekarang, kami akan terus berkembang untuk memberikan wawasan, informasi, berita, pembelajaraan, d.l.l mengenai Hacking, Tech, Cyber Attacks, Vulnerabilities, Malware, Spying, Programming, Networking, dan hal lainnya yang berkaitan dengan IT melalui media ini.</p></div><br>
<div align="center"><h2>Meet Our Team:</h2></div>
<div align="center">
	<img src="http://imageshack.com/a/img922/727/jJVBoy.jpg" width="150" height="150" />
	<br><strong><u><a href="https://facebook.com/zaky.doktrin">Muhammad Zaky Z</a></u></strong>
	<br>Founder & Chief Executive Officer (CEO)
</div>
<br>
<div align="center">
	<img src="http://imageshack.com/a/img922/8564/SnaqKR.jpg" width="150" height="150" />
	<br><strong><u><a href="https://facebook.com/lanhasta">Abdul Latief</a></u></strong>
	<br>Co-Founder
</div>
<br>
<div align="center">
	<img src="https://imagizer.imageshack.us/v2/354x354q90/923/Z6uWtH.jpg" width="150" height="150" />
	<br><strong><u><a href="https://www.facebook.com/rastabarli">Ahmad Maulana</a></u></strong>
	<br>Process & Improvement Engineer
</div>
<br>
<div align="center">
	<img src="http://imageshack.com/a/img922/3563/ybxwld.jpg" width="150" height="150" />
	<br><strong><u><a href="https://www.facebook.com/exksa">Muhammad Rizky NF</a></u></strong>
	<br>Public Relations
</div>
<br>
<br>
<div align="center">
	<h2>Contact Information</h2>
	<p>
		Mau tahu lebih banyak mengenai kami, atau hal-hal yang berkaitan dengan IT & Security, atau kalian memiliki informasi berita yang kita tidak tahu, penawaran media partner/penggarapan project/security analysis, jangan ragu untuk menghubungi kami.
	</p>
</div>
	<ul>
		<li>- Address: Perum Pondok Tandala Jl. Bungur V No.230, Kec. Kawalu, Kota Tasikmalaya, Jawa Barat - Indonesia 46182</li>
		<li>- Phone Number: (+62)-88229041713</li>
		<li>- Email: <a href="mailto:central@errorcybernews.com" target="_blank">central@errorcybernews.com</a></li>
	</ul>
<br>
<br>
<div align="center">
	<h2>Follow Us!</h2>
</div>
	<ul>
		<li>- Facebook: <a href="https://www.facebook.com/errorcybernews" target="_blank">fb.com/errorcybernews</a></li>
		<li>- Instagram: <a href="https://www.instagram.com/errorcybernews" target="_blank">@errorcybernews</a></li>
		<li>- YouTube: <a href="https://www.youtube.com/c/Error404CyberNews" target="_blank">youtube.com/c/Error404CyberNews</a></li>
	</ul>
<br>
<br>
<div align="center">
	<p><strong>Selengkapnya:</strong></p>
	<p><a href="https://about.errorcybernews.com" target="_blank">https://about.errorcybernews.com</a></p>
</div>
<br>
<br>
<div align="center">Made with <img class="vertical-middle" src="http://imagizer.imageshack.us/a/img924/5222/GPPNSo.png" height="10" width="10" alt=""> in Tasikmalaya, West Java - Indonesia.</div>  

  </ion-content>
</ion-view>
